{% extends 'cards/base.html' %}
{% block content %}
    <h2 class="mb-4">Словарь</h2>

    <form method="get" class="row mb-4">
        <div class="col-md-6">
            <input type="text" class="form-control" name="q" placeholder="Поиск слова..." value="{{ request.GET.q }}">
        </div>
        <div class="col-auto">
            <button type="submit" class="btn btn-primary">Найти</button>
        </div>
    </form>
    <div class="rounded overflow-hidden border">
    <table class="table table-bordered table-striped bg-white">
        <thead class="table-dark">
        <tr>
            <th>Слово</th>
            <th>Перевод</th>
            <th>Изображение</th>
        </tr>
        </thead>
        <tbody>
        {% for card in cards %}
            <tr>
                <td>{{ card.word }}</td>
                <td>{{ card.translation }}</td>
                <td>
                    {% if card.image_url %}
                        <img src="{{ card.image_url }}" width="50">
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    </div>
{% endblock %}
